<div id="sim-button" class="relative flex p-2 border-b-2 border-black gap-2">
  <button
    class="w-full h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded hover:cursor-pointer"
    (click)="showSim = true"
  >
    Simulator
  </button>
  <button
    class="w-full h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded hover:cursor-pointer"
    (click)="showSim = false"
  >
    Parameters
  </button>
</div>
<app-robot-viewer *ngIf="showSim" class="bg-[#557d83] w-full h-full inline-block overflow-hidden" (showParams)="showParams()"></app-robot-viewer>
<app-interaction-options *ngIf="!showSim" class="w-full h-full"></app-interaction-options>
