<div id="header-bar" class="w-full grid grid-cols-3">

  <!-- Action buttons (save, load, clear, theme switch) -->
  <div id="action-buttons" class="flex">

    <!-- Save -->
    <div id="save-button" class="relative mx-1">
      <div
        class="w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded hover:cursor-pointer
              text-light-text dark:text-dark-text"
        (click)="saveToFile()"
        (mouseenter)="saveTooltip = 'visible'"
        (mouseleave)="saveTooltip = 'hidden'"
      >
        <mat-icon class="hover:cursor-pointer">save</mat-icon>
      </div>
      <div 
        [style.visibility]="saveTooltip"
        class="absolute z-1 bg-black text-white text-center rounded py-1 w-[160px] top-[35px] left-0">
        Save model to file
      </div>
    </div>

    <!-- Load -->
    <div id="load-button" class="relative mx-1">
      <div
        class="w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded hover:cursor-pointer
              text-light-text dark:text-dark-text"
        (click)="loadFromFile()"
        (mouseenter)="loadTooltip = 'visible'"
        (mouseleave)="loadTooltip = 'hidden'"
      >
        <mat-icon class="hover:cursor-pointer">upload_file</mat-icon>
      </div>
      <input type="file" #interactionFileUpload style="display: none" (change)="loadFromUpload($event)" /> 
      <div 
        [style.visibility]="loadTooltip"
        class="absolute z-1 bg-black text-white text-center rounded py-1 w-[180px] top-[35px] left-0">
        Load model from file
      </div>
    </div>

    <!-- Clear canvas -->
    <div id="clear-button" class="relative mx-1">
      <div
        class="w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded hover:cursor-pointer
              text-light-text dark:text-dark-text"
        (click)="clear()"
        (mouseenter)="clearTooltip = 'visible'"
        (mouseleave)="clearTooltip = 'hidden'"
      >
        <mat-icon class="hover:cursor-pointer">delete</mat-icon>
      </div>
      <div 
        [style.visibility]="clearTooltip"
        class="absolute z-1 bg-black w-[120px] text-white text-center rounded py-1 top-[35px] left-0">
        Clear canvas
      </div>
    </div>

    <!-- Change theme -->
    <div id="change-theme-button" class="relative mx-1">
      <div
        class="w-[32px] h-[32px] items-center justify-center flex
              bg-primary dark:bg-dark-primary hover:bg-primary-hover
              dark:hover:bg-dark-primary-hover rounded hover:cursor-pointer
              text-light-text dark:text-dark-text
              "
        (click)="changeTheme()"
        (mouseenter)="changeTooltip = 'visible'"
        (mouseleave)="changeTooltip = 'hidden'"
      >
        <mat-icon class="hover:cursor-pointer">brightness_medium</mat-icon>
      </div>
      <div 
        [style.visibility]="changeTooltip"
        class="absolute z-1 bg-black w-[120px] text-white text-center rounded py-1 top-[35px] left-0">
        Change theme (light/dark)
      </div>
    </div>

  </div>


  <!-- Title -->
  <div class="text-center">
    <label class="w-full text-2xl font-medium text-center text-light-text dark:text-dark-text">
      Social Verification Website
    </label>
  </div>


  <!-- Verification status -->
  <div class="absolute flex items-center right-2">

    <div id="verify-button" class="relative mx-1">
      <div
        class="w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded hover:cursor-pointer text-light-text dark:text-dark-text"
        (click)="verifyModel()"
        (mouseenter)="verifyTooltip = 'visible'"
        (mouseleave)="verifyTooltip = 'hidden'"
      >
        <mat-icon class="hover:cursor-pointer">published_with_changes</mat-icon>
      </div>
      <div 
        [style.visibility]="verifyTooltip"
        class="absolute z-1 bg-black text-white text-center rounded py-1 w-[180px] top-[35px] left-0 z-10">
        Verify current model
      </div>
    </div>



    <p class="mr-1 text-xl text-light-text dark:text-dark-text">Verification Status: </p>

    <div
      id="not-verified-status"
      class="relative z-2"
      [style.visibility]="status == 'notVerified' ? 'visible' : 'hidden'"
      [style.width]="status == 'notVerified' ? '32px' : '0px'"
    >
      <div
        class="w-[32px] h-[32px] items-center justify-center flex bg-amber rounded  text-light-text dark:text-dark-text"
        (mouseenter)="notVerifiedTooltip = 'visible'"
        (mouseleave)="notVerifiedTooltip = 'hidden'"
      >
        <mat-icon class="hover:cursor-default">block</mat-icon>
      </div>
      <div 
        [style.visibility]="notVerifiedTooltip"
        class="absolute z-10 bg-black w-[150px] text-white text-center rounded py-1 top-[35px] right-0">
        Model not verified
      </div>
    </div>

    <div
      id="verified-status"
      class="relative z-3"
      [style.visibility]="status == 'verified' ? 'visible' : 'hidden'"
      [style.width]="status == 'verified' ? '32px' : '0px'"
    >
      <div
        class="w-[32px] h-[32px] items-center justify-center flex bg-green rounded text-light-text dark:text-dark-text"
        (mouseenter)="verifiedTooltip = 'visible'"
        (mouseleave)="verifiedTooltip = 'hidden'"
      >
        <mat-icon class="hover:cursor-default">check_circle_outline</mat-icon>
      </div>
      <div 
        [style.visibility]="verifiedTooltip"
        class="absolute z-10 bg-black w-[200px] text-white text-center rounded py-1 top-[35px] right-0">
        No errors found in model
      </div>
    </div>

    <div
      id="errors-status"
      class="relative z-4"
      [style.visibility]="status == 'errors' ? 'visible' : 'hidden'"
      [style.width]="status == 'errors' ? '32px' : '0px'"
    >
      <div
        class="w-[32px] h-[32px] items-center justify-center flex bg-red rounded text-light-text dark:text-dark-text"
        (mouseenter)="errorsTooltip = 'visible'"
        (mouseleave)="errorsTooltip = 'hidden'"
      >
        <mat-icon class="hover:cursor-default">highlight_off</mat-icon>
      </div>
      <div 
        [style.visibility]="errorsTooltip"
        class="absolute z-10 bg-black w-[180px] text-white text-center rounded py-1 top-[35px] right-0">
        Errors present in model
      </div>
    </div>
    
  </div>
</div>
