<div
  #microEl
  [style.left]='x'
  [style.top]='y'
  [style.border-color]='highlightColor'
  cdkScrollable
  cdkDragBoundary=".bounding-canvas"
  cdkDrag
  (cdkDragStarted)="startDrag($event)"
  (cdkDragMoved)="dragMicro($event)"
  (cdkDragEnded)="droppedMicro($event)"
  (click)="clickMicro($event)"
  (contextmenu)="showContextMenu($event)"
  class="absolute z-10 w-24 p-1 mb-2 text-center align-middle bg-gray-300 h-36 rounded-xl"
  [ngClass]="{
    'shadow-greeter': micro.type === 'Greeter' && isSelected === true,
    'shadow-ask': micro.type === 'Ask' && isSelected === true,
    'shadow-remark': micro.type === 'Remark' && isSelected === true,
    'shadow-instruction': micro.type === 'Instruction' && isSelected === true,
    'shadow-handoff': micro.type === 'Handoff' && isSelected === true,
    'shadow-answer': micro.type === 'Answer' && isSelected === true,
    'shadow-wait': micro.type === 'Wait' && isSelected === true,
    'shadow-farewell': micro.type === 'Farewell' && isSelected === true,
    'shadow-violating': isViolating === true
  }"
>
  <div
    [style.background-color]='bgColor'
    class="w-full p-1 text-center align-middle rounded-xl"
  >
    {{micro.type}}
  </div>
  <!-- TODO: Disable until icons have been found
  <img class="absolute left-[12px] top-[52px] w-[72px] h-[72px]" [src]="microIcon" />
  -->
  <div
    class="absolute left-[-32px] w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded-l hover:cursor-pointer z-40"
    (click)="clickSecondAnchor($event)"
    (mouseenter)="setSecondAnchor(true)"
    (mouseleave)="setSecondAnchor(false)"
  >
    <mat-icon>radio_button_unchecked</mat-icon>
  </div>
  
  <div
    *ngIf="micro.readyTransitionId == -1"
    class="absolute right-[-32px] w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded-r hover:cursor-pointer z-40"
    (click)="clickReadyAnchor($event)"
  >
    <mat-icon>done</mat-icon>
  </div>

  <div
    *ngIf="micro.readyTransitionId != -1"
    class="absolute right-[-32px] w-[32px] h-[32px] items-center justify-center flex bg-green-300 hover:bg-red-400 rounded-r hover:cursor-pointer z-40"
    (click)="clickReadyAnchor($event)"
  >
    <mat-icon>done</mat-icon>
  </div>
  <div
    *ngIf="micro.notReadyTransitionId == -1"
    class="absolute top-[70px] right-[-32px] w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded-r hover:cursor-pointer z-40"
    (click)="clickNotReadyAnchor($event)"
  >
    <mat-icon>block</mat-icon>
  </div>
  <div
    *ngIf="micro.notReadyTransitionId != -1"
    class="absolute top-[70px] right-[-32px] w-[32px] h-[32px] items-center justify-center flex bg-orange-300 hover:bg-red-400 rounded-r hover:cursor-pointer z-40"
    (click)="clickNotReadyAnchor($event)"
  >
    <mat-icon>block</mat-icon>
  </div>
</div>
