<div
  #microEl
  [style.left]='x'
  [style.top]='y'
  [style.border-color]='highlightColor'
  cdkScrollable
  cdkDragBoundary=".bounding-canvas"
  cdkDrag
  (cdkDragEnded)="droppedMicro($event)"
  (click)="clickMicro($event)"
  (mouseenter)="setHightlightColor('yellow'); emitOnMicro(true)"
  (mouseleave)="setHightlightColor('black'); emitOnMicro(false)"
  (mousemove)="relayCoords($event)"
  (contextmenu)="showContextMenu($event)"
  class="absolute z-10 w-24 p-2 mb-2 text-center align-middle bg-gray-300 h-36 rounded-xl"
>
  {{micro.type}}
  <div
    class="absolute left-[-32px] w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded-l hover:cursor-pointer"
    (click)="completeAddingTransition($event)"
    (mouseenter)="setSecondAnchor(true)"
    (mouseleave)="setSecondAnchor(false)"
  >
    <mat-icon>radio_button_unchecked</mat-icon>
  </div>
  
  <div
    *ngIf="micro.readyTransition == null"
    class="absolute right-[-32px] w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded-r hover:cursor-pointer"
    (click)="initAddingTransition($event, true)"
  >
    <mat-icon>done</mat-icon>
  </div>
  <div
    *ngIf="micro.readyTransition == null"
    class="absolute right-[-32px] w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded-r hover:cursor-pointer"
    (click)="initAddingTransition($event, true)"
  >
  </div>
  <div
    class="absolute top-[70px] right-[-32px] w-[32px] h-[32px] items-center justify-center flex bg-gray-300 hover:bg-gray-400 rounded-r hover:cursor-pointer"
    (click)="initAddingTransition($event, false)"
  >
    <mat-icon>block</mat-icon>
  </div>
</div>
