<div class="w-full mb-2 text-lg text-center border-b-2 bg-primary dark:bg-dark-primary border-b-black text-light-text dark:text-dark-text">
    Selector
</div>
<div id="interaction-microinteraction-container" class="px-2">
  <div
    draggable="true"
    (dragstart)="dragStart('Greeter')"
    class="z-10 h-8 p-1 mb-2 text-center text-light-text bg-greeter rounded-xl"
    (mouseenter)="showTooltip('Greeter')"
    (mouseleave)="hideTooltip('Greeter')"
  >
    Greeter
  </div>
  <div *ngIf="showGreeterTooltip" class="absolute bg-black text-white p-2 rounded top-[90px] left-[155px] max-w-[300px] z-100">
     The robot will greet the human with a salutation. Greeter is always the first micro in an interaction.
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Ask')"
    class="z-10 h-8 p-1 mb-2 text-center text-light-text bg-ask rounded-xl"
    (mouseenter)="showTooltip('Ask')"
    (mouseleave)="hideTooltip('Ask')"
  >
    Ask
  </div>
  <div *ngIf="showAskTooltip" class="absolute bg-black text-white p-2 rounded top-[130px] left-[155px] max-w-[300px] z-100">
    The robot will ask a question of your choosing to the human. Based on the human's response, the robot will trigger the Ready or Not Ready state.
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Remark')"
    class="z-10 h-8 p-1 mb-2 text-center text-light-text bg-remark rounded-xl"
    (mouseenter)="showTooltip('Remark')"
    (mouseleave)="hideTooltip('Remark')"
  >
    Remark
  </div>
  <div *ngIf="showRemarkTooltip" class="absolute bg-black text-white p-2 rounded top-[170px] left-[155px] max-w-[300px] z-100">
    The robot will make a remark of your choosing to the human.
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Instruction')"
    class="z-10 h-8 p-1 mb-2 text-center text-light-text bg-instruction rounded-xl"
    (mouseenter)="showTooltip('Instruction')"
    (mouseleave)="hideTooltip('Instruction')"
  >
    Instruction
  </div>
  <div *ngIf="showInstructionTooltip" class="absolute bg-black text-white p-2 rounded top-[210px] left-[155px] max-w-[300px] z-100">
    The robot will give an instruction of your choosing to the human.
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Handoff')"
    class="z-10 h-8 p-1 mb-2 text-center text-light-text bg-handoff dark:bg-handoff-dark rounded-xl"
    (mouseenter)="showTooltip('Handoff')"
    (mouseleave)="hideTooltip('Handoff')"
  >
    Handoff
  </div>
  <div *ngIf="showHandoffTooltip" class="absolute bg-black text-white p-2 rounded top-[250px] left-[155px] max-w-[300px] z-100">
    The robot will physically give something to the human.
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Answer')"
    class="z-10 h-8 p-1 mb-2 text-center text-light-text bg-answer rounded-xl"
    (mouseenter)="showTooltip('Answer')"
    (mouseleave)="hideTooltip('Answer')"
  >
    Answer
  </div>
  <div *ngIf="showAnswerTooltip" class="absolute bg-black text-white p-2 rounded top-[290px] left-[155px] max-w-[300px] z-100">
    The robot will answer any question the human asks. If the human proceeds to the Not Ready state, the robot did not successfully answer the question.
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Wait')"
    class="z-10 h-8 p-1 mb-2 text-center text-light-text bg-wait rounded-xl"
    (mouseenter)="showTooltip('Wait')"
    (mouseleave)="hideTooltip('Wait')"
  >
    Wait
  </div>
  <div *ngIf="showWaitTooltip" class="absolute bg-black text-white p-2 rounded top-[330px] left-[155px] max-w-[300px] z-100">
    The robot will wait for the human for a specified duration of time.
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Farewell')"
    class="z-10 h-8 p-1 mb-2 text-center text-light-text bg-farewell rounded-xl"
    (mouseenter)="showTooltip('Farewell')"
    (mouseleave)="hideTooltip('Farewell')"
  >
    Farewell
  </div>
  <div *ngIf="showFarewellTooltip" class="absolute bg-black text-white p-2 rounded top-[370px] left-[155px] max-w-[300px] z-100">
    The robot will say goodbye to the human. Farewell is always the last micro in an interaction.
  </div>
</div>
