<div class="w-full mb-2 text-center border-b-2 border-b-black">
  <label class="text-sm">
    Micro-Interactions
  </label>
</div>
<div id="interaction-microinteraction-container" class="px-2">
  <div
    draggable="true"
    (dragstart)="dragStart('Greeter')"
    class="z-10 h-8 p-1 mb-2 text-center bg-green-500 rounded-xl"
  >
    Greeter
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Ask')"
    class="z-10 h-8 p-1 mb-2 text-center bg-blue-400 rounded-xl"
  >
    Ask
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Remark')"
    class="z-10 h-8 p-1 mb-2 text-center bg-pink-400 rounded-xl"
  >
    Remark
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Instruction')"
    class="z-10 h-8 p-1 mb-2 text-center bg-amber-300 rounded-xl"
  >
    Instruction
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Handoff')"
    class="z-10 h-8 p-1 mb-2 text-center bg-slate-500 rounded-xl"
  >
    Handoff
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Answer')"
    class="z-10 h-8 p-1 mb-2 text-center bg-purple-600 rounded-xl"
  >
    Answer
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Wait')"
    class="z-10 h-8 p-1 mb-2 text-center bg-orange-400 rounded-xl"
  >
    Wait
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Farewell')"
    class="z-10 h-8 p-1 mb-2 text-center bg-red-400 rounded-xl"
  >
    Farewell
  </div>
</div>
