<div
  class="absolute z-50"
  [hidden]="menuHidden"
  [style.left]="x"
  [style.top]="y"
>
  <div
    class="absolute"
    [hidden]="type != 'transition'"
  >
    <button
      class="px-3 py-1.5 rounded-t-md text-white bg-red-600 hover:bg-red-700 shadow mx-0.5"
      (click)="resetMidpoint()"
    >Reset Midpoint</button>
    <button
      class="px-3 py-1.5 rounded-b-md text-white bg-red-600 hover:bg-red-700 shadow mx-0.5"
      (click)="removeTransition()"
    >Remove Transition</button>
    </div>
  <button
    class="absolute px-3 py-1.5 rounded-md text-white bg-red-600 hover:bg-red-700 shadow mx-0.5"
    [hidden]="type != 'micro'"
    (click)="removeMicro()"
  >Remove Micro</button>
</div>
