<div class="relative grid grid-cols-9">
  <app-actions-bar class="flex flex-wrap p-2 bg-gray-300 border-b-2 border-black col-span-9 box-border"></app-actions-bar>
  <app-microinteraction-selector class="h-full border-2 border-black col-span-1"></app-microinteraction-selector>
  <app-interaction-canvas class="w-full h-[69vh] col-span-6"></app-interaction-canvas>

  <app-interaction-options *ngIf="showParams" class="h-full border-2 border-black col-span-2"></app-interaction-options>
  <app-robot-viewer *ngIf="!showParams" class="col-span-2 bg-[#557d83] w-full h-full"></app-robot-viewer>

  <app-violation-output class="h-full col-span-9"></app-violation-output>
</div>
