<svg
  *ngIf="transition != undefined"
  class="absolute top-0 left-0 w-[5000px] h-[3000px] pointer-events-none z-20"
  xmlns="http://www.w3.org/2000/svg"
>
  <path [attr.d]="dFirst" [attr.stroke]="lineColor" stroke-width="2" fill="transparent" />
  <path [attr.d]="dSecond" [attr.stroke]="lineColor" stroke-width="2" fill="transparent" />
<!--
  <line [attr.x1]="fX" [attr.y1]="fY" [attr.x2]="mX" [attr.y2]="mY" [attr.stroke]="lineColor" stroke-width="2" />
  <line [attr.x1]="mX" [attr.y1]="mY" [attr.x2]="sX" [attr.y2]="sY" [attr.stroke]="lineColor" stroke-width="2" />
-->
</svg>
<div
  class="rounded-lg w-[14px] h-[14px] absolute z-30"
  [ngClass]="{
    'shadow-violating': lineColor != '#000',
    'shadow-red': lineColor != '#000',
    'bg-black': lineColor === '#000',
    'bg-red-800': lineColor != '#000'
  }"
  [style.top]="mY"
  [style.left]="mX"
  cdkScrollable
  cdkDragBoundary=".bounding-canvas"
  cdkDrag
  (cdkDragStarted)="midDragStart($event)"
  (cdkDragMoved)="midDragMove($event)"
  (cdkDragEnded)="midDragEnd($event)"
  (contextmenu)="showContextMenu($event)"
>
</div>
