<div class="bg-secondary dark:bg-dark-secondary">
  <div
    class="text-lg text-center border-b-2 border-black text-light-text dark:text-dark-text bg-primary dark:bg-dark-primary">
    Inspector
  </div>
  <div *ngIf="micro">
    <div class="px-2 flex items-center border-b-2 border-black text-light-text dark:text-dark-text">
      {{ micro.type }}
      <!-- Micro tool tip description -->
      <div id="tool-tip-button" class="relative mx-1">
        <div
          class="w-[32px] h-[32px] items-center justify-center flex rounded hover:cursor-pointer
                bg-secondary dark:bg-dark-secondary hover:bg-secondary-hover
                dark:hover:bg-dark-secondary-hover rounded hover:cursor-pointer
                text-light-text dark:text-dark-text"
          (mouseenter)="tooltip = 'visible'"
          (mouseleave)="tooltip = 'hidden'"
        >
          <mat-icon class="hover:cursor-pointer" width="20px">info</mat-icon>
        </div>
        <div 
          [style.visibility]="tooltip"
          class="absolute z-20 bg-black text-white rounded p-2 w-[400px] top-[35px] left-[-25px]">
          {{ micro.description }}
        </div>
      </div>
    </div>
    <div *ngFor="let param of micro.parameters; let idx=index;">
      <app-parameter-options [microType]="micro.type" [param]="param" [name]="'boolParam' + idx" [index]="idx"
        [result]="paramRes[idx]" (resultEmitter)="setResults(idx, $event)"></app-parameter-options>
    </div>
    <div *ngIf="micro.parameters.length == 0" class="p-2">
      No options for this micro-interaction
    </div>
    <!--
    <ng-template #save>
      <div class="flex items-center justify-center w-full">
        <button
          [ngClass]="{
            'bg-primary dark:bg-dark-primary': saveIsDisabled === true,
            'bg-blue': saveIsDisabled === false,
            'hover:bg-blue-hover': saveIsDisabled === false
          }"
          class="px-3 py-1.5 rounded-md text-white shadow mx-0.5"
          (click)="saveOptions()"
        >Save</button>
      </div>
    </ng-template>
  -->
  </div>
</div>